* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

.flex {
  display: flex;
}

.gray {
  background-color: gray;
  color: #fff;
  display: inline-block;
  width: 100px;
  height: 100px;
  margin: 20px;
  text-align: center;
}

.gray::before {
  content: "";
  width: 1px;
  height: 100%;
  display: inline-block;
  vertical-align: middle;
}

.gray span {
  display: inline-block;
}

.danger {
  color: red;
  display: block;
  margin-left: 10%;
  margin-bottom: 10px;
}

.react-hook-from {
  width: 50%;
  margin: auto;
  border: 1px solid #000;
  padding: 20px;
}

.input-half-container {
  display: inline-block;
  width: 45%;
  margin: 20px 10px 30px;
}

.input-half-container input {
  width: 100%;
  font-size: 16px;
  padding: 3px 0;
  outline: none;
  border-width: 0;
  border-bottom: 1px solid #999;
  margin-bottom: 10px;
}

.input-partthree-container {
  display: inline-block;
  width: 30%;
  margin: 20px 10px 30px;
}

.input-partthree-container input {
  width: 100%;
  font-size: 16px;
  padding: 3px 0;
  outline: none;
  border-width: 0;
  border-bottom: 1px solid #999;
  margin-bottom: 10px;
}

.error-input {
  color: #ff0000;
  height: 20px;
}